<mat-toolbar>
    <div class="left-content">
        <button mat-raised-button (click)="navigateToDashboard()" style="background-color: green; color: white;">Πίσω</button>
    </div>
  
    <div class="center-content">
        <img src="assets/images/digicotton_logo.png" style="height: 100px;">
    </div>
  
    <div class="right-content">
        <button mat-raised-button color="warn" (click)="authService.SignOut()">Αποσύνδεση</button>
    </div>
  </mat-toolbar>

  <div style="margin-top: 100px;"> 
    <app-details-meteo></app-details-meteo>
  </div>