<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <img src="assets/images/digicotton_logo.png" style="height: 120px; display: block; margin-left: auto; margin-right: auto;">
      <h3>Επαναφορά Κωδικού Πρόσβασης</h3>

      <p class="text-center">
        Παρακαλώ εισάγετε τη διεύθυνση email σας για να ζητήσετε την επαναφορά κωδικού πρόσβασης.
      </p>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Διεύθυνση Ηλεκτρονικού Ταχυδρομείου"
          #passwordResetEmail
          required
        />
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input
          type="submit"
          class="btn btnPrimary"
          value="Επαναφορά Κωδικού Πρόσβασης"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        />
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Πίσω στη
        <span class="redirect" routerLink="/sign-in"> σύνδεση</span></span
      >
    </div>
  </div>
</div>
