.toggle-buttons{
    display: flex; 
    flex-direction: column; 
    align-items: left; 
    margin-left: 10%;
}

.custom-slide-toggle {
  margin: 6%;
}

.button-text{
    color: white;
    font-size: large;
    margin: auto;
}
